{% extends "article.html" %}
{% load filters %}

{% block title %}
  {{ job.job_title }} | Job
{% endblock %}

{% block heading %}
  {{ job.job_title }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block article %}
  <table class="span8 offset2">
    <tr>
      <td colspan="2">
        <b>{{ job.job_title }}</b>
      </td>
    </tr>
    {% if job.is_internship %}
      <tr>
        <td>Type</td>
        <td>Internship</td>
      </tr>
    {% endif %}
    <tr>
      <td>Company</td>
      <td><a href="{{ job.company.url }}">{{ job.company.name }}</a></td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        {{ job.location }}
      </td>
    </tr>
    <tr>
      <td>Job role</td>
      <td><a href="{{ job.job_role.get_absolute_url }}">{{ job.job_role }}</a></td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        {{ job.job_description|safe }}
      </td>
    </tr>
    <tr><td colspan="2"></td></tr>
  </table>
{% endblock %}
