{% extends "article.html" %}
{% block title %}
  Analytics
{% endblock %}
{% block breadcrumb %} {% endblock %}

{% block heading %}
  Analytics - Supply {{analytics_year}}
{% endblock %}
{% block article %}
<div>
  <h2>Skill Gaps in {{analytics_year}}</h2>
  <a href='#'>How do skill gaps vary with category of institutions, category of industry, sub-sectors, regions?></a><br/>
  <a href='#'>Using the data gathered over survey, which skills have the highest gaps as viewed by the industry?</a><br/>
  <a href='#'>Amongst the identified hot skills which skills have the highest positive/negative gaps?</a><br/>
  <a href='#'>What are the skill gaps for more employable skills?</a><br/>
</div>
{% endblock %}
