{% extends "article.html" %}

{% block title %}
  Profile
{% endblock %}

{% block heading %}
  Profile
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block article %}
  {% if request.GET.edit %}
    <form method="POST" action="{% url 'profile' %}">
      {% csrf_token %}
      {% if form.errors %}
        <label class="text-error">There are some errors in form. Please correct!</label>
      {% endif %}
      {{ form }}
      </br>
      <input class="btn btn-theme" type="submit" value="Save Changes"/>
    </form>
  {% else %}
    {% for field in form %}
      {{ field.label }}: {{ field.value }}
      </br>
    {% endfor %}
    <a class="btn btn-theme" href="{% url 'profile' %}?edit=True">Edit</a>
  {% endif %}
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
  });
</script>
{% endblock %}
