{% extends "article.html" %}
{% block title %}
  Analytics
{% endblock %}

{% block heading %}
 Analytics - Demand/Supply
{% endblock %}
{% block article %}

<div style="float: left; margin-right: 60px">
  {% for year in analytics_demand_years %}
    <a href='/analytics/demand/{{year}}'>Demand in {{ year }}</a><br />
  {% endfor %}
</div>

<div>
  {% for year in analytics_supply_years %}
    <a href='/analytics/demand/{{year}}'>Supply in {{ year }}</a><br />
  {% endfor %}
</div>

<div style="clear: both"></div>
{% endblock %}
