{% extends "article.html" %}
{% block title %}
  Analytics
{% endblock %}

{% block heading %}
 Analytics - Demand ({{ analytics_year }})
{% endblock %}
{% block article %}
  <div id="india-map" class='analytics-map'></div>
  <div id="chart-container" class='analytics-chart'></div>
  <div class="clear"></div>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/d3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/analytics.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/d3.geo.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/css/analytics.css"/>
  <script type="text/javascript">
    function render_demand(container, year, demand_name, demand_categories, demand_data) {
      var data = demand_data,
          name = demand_name, 
          categories = demand_categories;


      function setChart(name, categories, data, color) {
        chart.xAxis[0].setCategories(categories, false);
        chart.series[0].remove(false);
        chart.addSeries({
          name: name,
          data: data
        }, false);
        chart.redraw();
      }

      var options = {
        chart: {
          type: 'column',
          renderTo: container
        },
        title: {
          text: 'Demand Analytics'
        },
        subtitle: {
          text: 'Click the columns to drill down'
        },
        xAxis: {
          categories: categories
        },
        yAxis: {
          title: {
            text: 'Demand'
          }
        },
        plotOptions: {
          column: {
            cursor: 'pointer',
            point: {
              events: {
                click: function () {
                  var drilldown = this.drilldown;
                  if (drilldown) { // drill down
                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                  } else { // restore
                    setChart(name, categories, data);
                  }
                }
              }
            }
          }
        },
        tooltip: {
          formatter: function () {
            var point = this.point, s = this.x + ':<b>' + this.y + '< /b><br/>';
            if (point.drilldown) {
              s += 'Click to view ' + point.category;
            } else {
              s += 'Click to return to previous analytics ';
            }
            return s;
          }
        },
        series: [{
          name: name,
          data: data,
        }],
        exporting: {
          enabled: false
        }
    };
    chart = new Highcharts.Chart(options);
  }

  function render_chart(year, state_id, container) {
    $.getJSON('../data/demand/' + year + '/' + state_id, function(data) {
      data = data['data'];
      demand_data = data['data'];
      demand_name = data['name'];
      demand_categories = data['categories'];
      render_demand(container, year, demand_name, demand_categories, demand_data);
    }).fail(function() {
      $('#' + container).html("<h1>Data not available!</h1>");
    });
  }

  $(document).ready(function() {
    render_map({{analytics_year}}, 'demand', '{{ STATIC_URL }}');
  });
  </script>
{% endblock %}
