{% extends "article.html" %}
{% load analytics_tags %}

{% block title %}
  Analytics - Supply
{% endblock %}

{% block breadcrumb %} {% endblock %}

{% block heading %}
 Analytics - Supply <span id="analytics-year"></span>
{% endblock %}

{% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/analytics.css"/>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/d3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/d3.geo.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/analytics.js"></script>
{% endblock %}

{% block article %}
  <div style='text-align:center; margin-bottom:10px;' id="analytics-years">
  </div>
  <div class="clear"></div>
  <div id="india-map" class='analytics-map'></div>
  <div id="chart-container" class='analytics-chart'></div>
  <div class="clear"></div>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript">
    function render_supply(container, year, supply_name, supply_categories, supply_data) {
      var data = supply_data,
          name = supply_name, 
          categories = supply_categories;

      function setChart(name, categories, data, color) {
        chart.xAxis[0].setCategories(categories, false);
        chart.series[0].remove(false);
        chart.addSeries({
          name: name,
          data: data
        }, false);
        chart.redraw();
      }

      var options = {
        chart: {
          type: 'column',
          renderTo: container
        },
        title: {
          text: 'Supply Analytics'
        },
        subtitle: {
          text: 'Click the columns to drill down'
        },
        xAxis: {
          categories: categories
        },
        yAxis: {
          title: {
            text: 'Supply'
          }
        },
        plotOptions: {
          column: {
            cursor: 'pointer',
            point: {
              events: {
                click: function () {
                  var drilldown = this.drilldown;
                  if (drilldown) { // drill down
                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                  } else { // restore
                    setChart(name, categories, data);
                  }
                }
              }
            }
          }
        },
        tooltip: {
          formatter: function () {
            var point = this.point, s = this.x + ':<b>' + this.y + '< /b><br/>';
            if (point.drilldown) {
              s += 'Click to view ' + point.category;
            } else {
              s += 'Click to return to previous analytics ';
            }
            return s;
          }
        },
        series: [{
          name: name,
          data: data,
        }],
        exporting: {
          enabled: false
        }
      };
      chart = new Highcharts.Chart(options);
    }

    function render_chart(year, state_id, container) {
      $.getJSON('/analytics/data/supply/' + year + '/' + state_id, function(data) {
        data = data['data'];
        supply_data = data['data'];
        supply_name = data['name'];
        supply_categories = data['categories'];
        render_supply(container, year, supply_name, supply_categories, supply_data);
      }).fail(function() {
        $('#' + container).html("<h1>Data not available!</h1>");
      });
    }

    var data_year = {% get_year 'supply' %};

    function magic_process(){
      $("#analytics-year").html("("+data_year['current']+")");
      render_map(data_year['current'], 'supply', '{{ STATIC_URL }}');
    }

    $(document).ready(function() {
      $.each(data_year['years'], function(index, value){
        link = $("<a class='btn' href='?year=" + value + "'>" + value + "</a>").appendTo("#analytics-years");
        if (value == data_year['current']){
          link.addClass('btn-theme');
        }
      });
      magic_process();
    });
  </script>
{% endblock %}
